<h1>New User!</h1>

<form action="<%= users_url %>" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label>Password
    <input type="text" name="user[password]">
  </label>

  <button type="submit">create user</button>
</form>