<div class="masthead">
  <h2 class="logo">App Academy Times</h2>
  <div class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </div>

  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>Today’s Paper</li>
    <li><button><i class="fas fa-video"></i></button>Video</li>
    <li>77°F</li>
    <li>AAO +100%</li>
  </ul>
</div>
 
 
 






