<ul>
    <li><a href="#">World</li>
    <li><a href="#">San Francisco</li>
    <li><a href="#">New York</li>
    <li><a href="#">Bootcamp Prep</li>
    <li><a href="#">Jumpstart</li>
    <li><a href="#">Online</li>
    <li><a href="#">Marketing</li>
    <li><a href="#">Sales</li>
    <li><a href="#">TalentMatch</li>
    <li><a href="#">Alumni</li>
    <li><a href="#">All</li>
</ul>