<h1>Here are all of our cats!</h1>



<ul>
    <% @cats.each do |cat| %>
        <li>
            <ul>
                <li>
                    <%= cat.name%>
                </li>
                <li>
                  <a href="<%= cat_url(cat) %>">
                    Cat's Show Page
                  </a>
                </li>
            </ul>
        </li>
    <% end %>
</ul>

